.content {
    background-color: rgba(238, 238, 238, 0);
}

.container {
    position: relative;
    top: 50px;
    min-width: 900px;
}

#alert-container {
    position: absolute;
    left: 50%;
}

#card-data-content {
    width: 50%;
    margin: 50px auto;
}

.card-data-input {
    float: right;
    position: relative;
    bottom: 45px;
}

#card-number {
    width: 175px;
    right: 200px;
}

#pin-number {
    width: 60px;
    right: 260px;
}

.card-main-btns {
    float: right;
    position: relative;
    bottom: 45px;
}

.numbers {
    width: 20%;
    margin: 0 auto;
}

.number-btn {
    width: 70px;
    height: 65px;
    margin-bottom: 5px;
}

#card-number-holder {
    right: 140px;
    width: 170px;
}

.balance-info {
    width: 50%;
    margin: 0 auto;
}

.balance-back {
    position: relative;
    float: right;
    bottom: 37px;
    right: 160px;
}
